/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 1px;
    border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;;
}
.justify-vertical{margin:50% 1%;}*/
[class*="col-"] {
    /*float: left;*/
    padding: 1px;
     /*border: 1px solid red;*/
}
*{
  outline-width: 1px;
  outline-style: hidden;
  padding: 1px;
}
.main-container{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;;
  /*-webkit-align-items: flex-start;
   align-items: flex-start;*/
}
.category-container{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
/*   -webkit-justify-content: flex-start;
   justify-content: flex-start;;*/
  -webkit-align-items: flex-start;
   align-items: flex-start;
}

.col-left .col-right{
  /*background-color: blue;*/
   max-width: 35%;
   min-width: 35%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   /*flex-wrap:  wrap ;*/
   /*-webkit-align-content: stretch;
      align-content: stretch;*/

}
/*.item{ flex-grow:2}*/
.row{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.col{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  white-space: wrap;

}

.thumbs-container { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}

/*header div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}*/