html {
  background-color: #fff; max-width: 95%;
  font-family: "Montserrat","Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif,'Inconsolata';

}
* {
    box-sizing: border-box;   color: #38417a;
}
.patica-bg-color{
  background-color: #2a9639;
}
.gray{background-color: gray}
input, textarea{outline: 0px;}
.button{border-width: 0;border-radius: 8px;padding:5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); display: inline-block;}
.button-inactive{border-width: 0;border-radius: 8px;padding:5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); display: inline-block;}
.button:hover {
  fill-opacity: .8;
  border-color: silver;
  border-width: 5;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  cursor:pointer;
}
/*.button { transition: all .2s ease-in-out; }
.button:hover { transform: scale(1.1); padding:10px;}*/
.white{color:#fff;}
.hidden{display: none}
.small-font{font-size: 12px;box-shadow: 0 0 2px 2px #d9d9d9;}
.ReactTags__suggestions{position: absolute;}
input.ReactTags__tagInputField{width:87px;margin: 3px 0px;}
.ReactTags__tag{background-color: #2a9639;color:#fff;border-radius: 
                5px;font-size: 12px;margin: 0 5px;padding:3px 5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              }
.ReactTags__remove{color: #fff;margin: 2px;padding: 1px 2px;display:inline-block;} 
.ReactTags__remove:hover{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
    cursor:pointer;
}
}
.container1 {
  width: calc(50% - 60px);
  margin: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-height: 200px;
  text-align: center;
  background-color: white;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.hexagon-container , .Trapezoid-container{
 -webkit-user-select: none; /* Chrome/Safari */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+ */
 -o-user-select: none;
  user-select: none;
  /*background-color: blue;*/
  padding: 0;margin: 0;
}
.fill-parent{width:100%;}
svg{margin-top:0px;}
svg text {
   font-family: FontAwesome;
   font-size:30px;
/*    color:#fff ;
*/    fill: #fff;

}
.fontAwesome{
     font-family: FontAwesome;
   font-size:50px;
    color: #fff;
}

.hex {
  border-radius: 1em/ .5em;
  cursor: pointer;
  fill-opacity: .9;
  /*stroke: #0d6d04;*/
  stroke: #2a9639;
  stroke-width: 0;
  border: 1px solid rgba(255, 255, 255, 0); 


}


#color-fill .hex {
  fill: #dadfe8;
}

.hex:hover {
  fill-opacity: 1;
  /*stroke: #0a8205;*/
  stroke-width: 5;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
#glow { 
  stroke: rgba(0, 0, 0, 0.1);
  filter: url(#blur-filter);
}
/*#glow:hover:{
    transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}*/
/*.hex {
  transition: transform, fill-opacity, stroke-width;
  -webkit-transition: transform, fill-opacity, stroke-width;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}*/
.:active{
	border-width:10px;
    box-shadow:1px;
    border-radius:0;
    border-color: blue;
}
.item{margin-bottom:10px}
.item-container{
  /*background-color: #dadfe8;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item-details{
  text-align: right;
    width:65%;
  display: flex;
  flex-direction:column;
  word-wrap: break-word;
  margin-right: 3px;
background-color: #dadfe8;
}
.item-hexagon{
  /*display: flex;
  flex-direction: column;*/
}
.item-category-name{
  word-wrap: break-word;
}
.item-role-container{
  text-align: center;
  margin-bottom: 1.5em;
}
.item-role-name {
  text-align: left;
}
.item-role-details{text-align: left;display: inline-block;}
.lego-container{
  display: flex;
  flex-direction: column;
}
.lego-up{
  display: flex;
  flex-direction: row;
  text-align: center;
  display: inline-block;
}
.lego-down{
  display: flex;
  flex-direction: row;
  text-align: center;
  display: inline-block;
}
.lego-img{
  display: flex;
  flex-direction: row;
  height:28em;
  width:22em;

}

.up-trapezoid {
}

.down-trapezoid {
}
/* Lego Gallery  */
.lego-gallery-container{display:flex;flex-direction:column;justify-content: space-around;width:50%;height:50%;}
.lego-gallery-thumbs-container{
  display:flex;flex-direction:row;justify-content: space-around;width:auto;height: auto;flex-wrap: wrap;
}
.thumb{
  border: 2px solid #c5c6be;
  border-radius: 4px 4px;
  position: relative;
  background-color: silver;
}
/*.thumb:active{
  border-color: blue;
}
.thumb::selection{border-color: red;}*/
.thumb::focus{border-color: red;box-shadow: 0 0 10px }
.crossed {
    position: relative;
    width: 4em;
    height: 1.5em;
    background: blue;
}
.crossed svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 0;
}
.crossed svg line {
    stroke: rgb(255, 0, 0);
    stroke-width: 1;
}
.crossed input {
    width: 5em;
    height: 1em;
    box-sizing:border-box;text-align:center
}
.upcase{
  text-transform: uppercase
}